* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: disney;
    src: url(../Avenir-Heavy/Avenir-Heavy.ttf);
}

body {
    font-size: 62.5%;
    font-family: "disney";
}

:root {
    --color1: #161825;
    --color2: #000;
    --color3: #fff;
    --color4: #757575;
}

a {
    text-decoration: none;
}

.header img {
    width: 5.3rem;
    margin-right: 2rem;
    margin-left: 1.2rem;
}

header {
    display: flex;
    background-color: transparent;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 72px;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    margin: 0 2rem 0 2rem;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;

}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0rem 0 1rem;
    z-index: 3;

}

.header1 img {
    width: 3rem;
    margin: 0 1rem 0 2rem;
}

li a {
    font-size: .95rem;
    margin: 0 1.5rem 0 1.5rem;
    color: var(--color3);
}

.icon {
    font-size: .8rem;
    margin-right: .5rem;
}

.background {
    background: rgb(22, 24, 37);
    background: radial-gradient(circle, rgba(22, 24, 37, 1) 0%, rgba(0, 0, 0, 1) 100%);
    padding-top: 4.5rem;
    z-index: -10000;
}

p {
    color: white;
}

span {
    display: inline-block;
    position: relative;
    color: white;
}

span:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out

}

span:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sandwich {
    position: absolute;
    z-index: 10;
    right: 10px;
    cursor: pointer;
    display: block;
    top: 13px;
}

.nav-link {
    color: var(--color4);
}

.nav-link1 {
    color: var(--color4);
    
}

.nav-link2 {
    border-top: var(--color4) 1px solid;
    color: var(--color4);
    margin-top: 55px;
    padding-top: 10px;
    text-align: center;
    
}

.nav-link2:hover {
    color: white;
}

.nav-link:hover {
    color: white;
}

.nav-link1:hover {
    color: white;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    z-index: 5;
    
}

.nav-menu {
    display: flex;
    justify-content: left;
    gap: 0px;
    position: fixed;
    right: 0px;
    top: -100%;
    flex-direction: column;
    text-align: left;
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
    border: var(--color4) 1px solid;
    width: 19%;
    height: fit-content;
    transition: .3s;
    z-index: 5;
}

.nav-menu.active {
    top: 0;
}

ul {
    list-style-type: none;
}

.Avatar {
    margin-right: 3px;
    color: white;
    opacity: 0.9;
    font-size: .9rem;
    position: fixed;
    z-index: 2;
    top: 30px;
    right: 83px;
    font-weight: lighter;

    
}

.nav-menu img{
    width: 3rem;
    margin: 0 1rem 0 0;
}

.nav-menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    margin: 14px 0;
}

.perfil {
    display: flex;
    flex-direction: row;   
    text-align: center;
    justify-content: flex-start;
}

.slider {
    max-width: 100%;
    color: black;
    z-index: 0;
    display: flex;
    background-color: transparent;
}

.container {
    height: 100%;
    max-width: 100%;
    display: flex;
    margin-top: 30px;
    
}

.slider img {
    width: 98%;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.slider img:hover {
    border: var(--color4) 5px solid;
}



